<mat-sidenav-container>
    <!--invisible part sliding out-->
    <!-- variable template which starts with # is used for referencing later in the function click-->
    <mat-sidenav #sidenav mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink="">Home</a>
            <a mat-list-item routerLink="/signup">Profile</a>
            <a mat-list-item routerLink="/userpage">Users</a>
            <a mat-list-item routerLink="/todo-table">Todo Table</a>
            <a mat-list-item routerLink="/todo-list">Todo List</a>
        </mat-nav-list>
    </mat-sidenav>

    <!--visible part-->
    <mat-sidenav-content>
        <div class="flex flex-col h-screen bg-white">
            <div id="div-toolbar">
                <mat-toolbar>
                    <button mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span>
                        {{title}}
                    </span>
                </mat-toolbar>
            </div>
            <!-- flex-1 so that the div occupies the space that is available --> 
            <div id="div-router" class="flex-1 bg-blue-50">
                <router-outlet />
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>