<div
  id="full-cover-background"
  class="flex h-full items-center justify-center"
>
  <div id="centered-block" class="flex-col p-7 rounded-2xl" >
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <h2 class="text-center">Sign up</h2>
      <div id="name-container">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            formControlName="name"
            type="text"
            placeholder="Name"
          />
        </mat-form-field>
      </div>
      <div id="surname-container">
        <mat-form-field>
          <mat-label>Surname</mat-label>
          <input
            matInput
            formControlName="surname"
            type="text"
            placeholder="Surname"
          />
        </mat-form-field>
      </div>
      <div id="username-container" >
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            matInput
            formControlName="username"
            type="text"
            placeholder="Username"
          />
        </mat-form-field>
      </div>
      <div id="email-container">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            type="email"
            placeholder="Email"
          />
        </mat-form-field>
      </div>
      <div id="gender-container">
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            @for (gender of listGender; track gender){
              <mat-option [value]="gender.value">{{gender.text}}</mat-option>
            }

          </mat-select>
        </mat-form-field>
      </div>
      <button mat-flat-button type="submit" class="w-full">Sign up</button>
    </form>
  </div>
</div>
