:root {
    --mat-sys-primary: #14b8a6;      
    --mat-sys-secondary: #3b82f6;    
    --mat-sys-accent: #fff7d6;       
    --mat-sys-warn: #ef4444;        
    --mat-sys-background: #0059b3;   
    --mat-sys-surface: #e2f4f5;      
    --mat-sys-on-primary: #ffffff;  
    --mat-sys-on-secondary: #ffffff; 
    --mat-sys-on-accent: #1e293b;    
    --mat-sys-on-background: #1e293b;
    --mat-sys-on-surface: #000000; 
}
#full-cover-background {
    background-color: rgb(255, 255, 231);
    color: blueviolet
    
}